<div style="margin: 2em; display: flex; justify-content: center">
  <a mat-raised-button color="primary" routerLink="marcar">Marcar falta</a>
</div>

<div class="container">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>
