<!-- <p>{{ token }}</p> -->

<div class="container">
  <mat-card style="display: flex" class="center">
    <mat-card-header class="center">
      <mat-card-title>Alterar password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field>
            <mat-label>Nova password</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-icon
              matSuffix
              matTooltip="min. 6 caracteres, 1 letra minúscula, 1 letra maiúscula, 1 número e 1 caracter especial"
              >info</mat-icon
            >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Confirmar password</mat-label>
            <input
              matInput
              type="password"
              formControlName="confirmPassword"
              pattern="{{ resetPasswordForm.value.password }}"
            />
            <mat-error
              *ngIf="
                resetPasswordForm.get('confirmPassword')?.errors &&
                resetPasswordForm.get('confirmPassword')?.hasError('required')
              "
              >Confirme a password</mat-error
            >
            <mat-error
              *ngIf="
                resetPasswordForm.get('confirmPassword')?.errors &&
                resetPasswordForm.get('confirmPassword')?.hasError('pattern')
              "
              >As password não são iguais</mat-error
            >
          </mat-form-field>
        </div>
        <mat-card-actions>
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!resetPasswordForm.valid"
          >
            Alterar
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
