<div class="container">
  <mat-card appearance="outlined">
    <mat-card-header class="center">
      <mat-card-title>Editar cliente</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="editarClienteForm"
        (ngSubmit)="onSubmit()"
        class="form center"
      >
        <mat-form-field appearance="outline">
          <mat-label>ID</mat-label>
          <input matInput type="text" formControlName="id" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome" />
          <mat-icon matSuffix>person</mat-icon>
          <mat-error
            *ngIf="
              editarClienteForm.get('nome')?.errors &&
              editarClienteForm.get('nome')?.getError('required')
            "
          >
            Preencha o nome do cliente
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error
            *ngIf="
              editarClienteForm.get('email')?.errors &&
              editarClienteForm.get('email')?.getError('required')
            "
          >
            Preencha o email do cliente
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input matInput type="tel" formControlName="telefone" />
          <mat-icon matSuffix>call</mat-icon>
          <mat-error
            *ngIf="
              editarClienteForm.get('telefone')?.errors &&
              editarClienteForm.get('telefone')?.getError('required')
            "
          >
            Preencha o telefone do cliente
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>NIF</mat-label>
          <input matInput type="text" formControlName="nif" />
          <mat-icon matSuffix>123</mat-icon>
          <mat-error
            *ngIf="
              editarClienteForm.get('nif')?.errors &&
              editarClienteForm.get('nif')?.getError('required')
            "
          >
            Preencha o nif do cliente
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Código Postal</mat-label>
          <input matInput type="text" formControlName="cod_postal" />
          <mat-icon matSuffix>123</mat-icon>
          <mat-error
            *ngIf="
              editarClienteForm.get('cod_postal')?.errors &&
              editarClienteForm.get('cod_postal')?.getError('required')
            "
          >
            Preencha o código postal do cliente
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Morada</mat-label>
          <input matInput type="text" formControlName="morada" />
          <mat-icon matSuffix>location_on</mat-icon>
          <mat-error
            *ngIf="
              editarClienteForm.get('morada')?.errors &&
              editarClienteForm.get('morada')?.getError('required')
            "
          >
            Preencha o morada do cliente
          </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!editarClienteForm.valid"
            [hidden]="editarClienteForm.pristine"
          >
            Criar</button
          ><a routerLink=".." mat-flat-button color="warn">Cancelar</a>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
