mat-sidenav {
  display: initial;
  width: 200px;
  height: calc(100dvh - 56px);
}

mat-toolbar-row {
  justify-content: space-between;
}

mat-toolbar {
  justify-content: space-between;
}

.menu-button {
  display: block;
}

.links {
  display: flex;
  align-items: center;
  height: auto;

  .link-item {
    display: none;
    color: #f4f4f4;
  }

  button {
    display: block;
  }
}

button[mat-button] {
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  mat-sidenav {
    display: none;
  }

  .menu-button {
    display: none;
  }

  .links {
    .link-item {
      display: initial;
      margin-inline: 0.5em;

      &.active_route {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          background-color: #f4f4f4;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}
