<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div style="display: flex; align-items: center">
      <button mat-icon-button class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/protected">
        <img src="/favicon.ico" alt="" />
      </a>
    </div>
    <nav class="links">
      <a
        routerLink="users"
        class="link-item"
        *ngIf="[999].includes(group)"
        routerLinkActive="active_route"
        >Users</a
      >
      <a
        routerLink="clientes"
        class="link-item"
        *ngIf="[999].includes(group)"
        routerLinkActive="active_route"
        >Clientes</a
      >
      <a
        routerLink="produtos"
        class="link-item"
        *ngIf="[999].includes(group)"
        routerLinkActive="active_route"
        >Produtos</a
      >
      <a
        routerLink="vendas"
        class="link-item"
        *ngIf="[999].includes(group)"
        routerLinkActive="active_route"
        >Vendas</a
      >
      <a
        routerLink="faltas"
        class="link-item"
        *ngIf="[999, 1].includes(group)"
        routerLinkActive="active_route"
        >Faltas</a
      >
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
