<div style="margin: 2em; display: flex; justify-content: center">
  <a mat-raised-button color="primary" routerLink="criar">Adicionar produto</a>
</div>

<div style="width: 100%; max-width: 100dvw; overflow-x: auto">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    matSort
    matSortActive="id"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let produto">{{ produto.id }}</td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let produto">{{ produto.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Preço</th>
      <td mat-cell *matCellDef="let produto">{{ produto.preco }}€</td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="text-align: center !important"
      >
        Ações
      </th>
      <td mat-cell *matCellDef="let produto">
        <div style="display: flex; width: 100%; justify-content: space-evenly">
          <a [routerLink]="'editar/' + produto.id"
            ><button mat-flat-button color="accent">Editar</button></a
          >
          <button
            mat-flat-button
            color="warn"
            (click)="openConfirmationDialog()"
          >
            Remover
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="logClickedRow(row)"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>

  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>
<mat-paginator
  #paginator
  [length]="totalData"
  [pageSizeOptions]="pageSizes"
  showFirstLastButtons
></mat-paginator>
