<div class="container">
  <mat-card appearance="outlined">
    <mat-card-header class="center">
      <mat-card-title>Marcar falta</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="marcarFaltaForm"
        (ngSubmit)="onSubmit()"
        class="form center"
      >
        <mat-form-field appearance="outline">
          <mat-label>Utilizador</mat-label
          ><mat-select formControlName="user">
            <mat-option
              *ngFor="let utilizador of utilizadores; let first = first"
              [value]="utilizador.id"
            >
              {{ utilizador.nome }}
            </mat-option>
          </mat-select>
          <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <div class="input-group">
          <mat-form-field appearance="outline">
            <mat-label>Data inicial</mat-label>
            <mtx-datetimepicker
              #datetimePicker
              [type]="type"
              [mode]="mode"
              [multiYearSelector]="multiYearSelector"
              [startView]="startView"
              [twelvehour]="twelvehour"
              [timeInterval]="timeInterval"
              [touchUi]="touchUi"
              [timeInput]="timeInput"
            ></mtx-datetimepicker>
            <input
              [mtxDatetimepicker]="datetimePicker"
              formControlName="data_inicio"
              matInput
              required
            />
            <mtx-datetimepicker-toggle
              [for]="datetimePicker"
              matSuffix
            ></mtx-datetimepicker-toggle>
            <mat-error
              *ngIf="
                marcarFaltaForm.get('data_inicio')?.errors &&
                marcarFaltaForm.get('data_inicio')?.getError('required')
              "
            >
              Preencha a data da venda
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Data regresso</mat-label>
            <mtx-datetimepicker
              #datetimePicker2
              [type]="type"
              [mode]="mode"
              [multiYearSelector]="multiYearSelector"
              [startView]="startView"
              [twelvehour]="twelvehour"
              [timeInterval]="timeInterval"
              [touchUi]="touchUi"
              [timeInput]="timeInput"
            ></mtx-datetimepicker>
            <input
              [mtxDatetimepicker]="datetimePicker2"
              formControlName="data_fim"
              matInput
              required
            />
            <mtx-datetimepicker-toggle
              [for]="datetimePicker2"
              matSuffix
            ></mtx-datetimepicker-toggle>
            <mat-error
              *ngIf="
                marcarFaltaForm.get('data_fim')?.errors &&
                marcarFaltaForm.get('data_fim')?.getError('required')
              "
            >
              Preencha a data regresso
            </mat-error>
          </mat-form-field>
          <div
            class="center"
            style="display: flex; height: 56px; flex: 1; width: 100%"
          >
            <mat-checkbox formControlName="dia_completo">Dia todo</mat-checkbox>
          </div>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Motivo</mat-label>
          <textarea matInput formControlName="motivo"></textarea>
          <mat-error
            *ngIf="
              marcarFaltaForm.get('motivo')?.errors &&
              marcarFaltaForm.get('motivo')?.getError('required')
            "
          >
            Preencha o motivo
          </mat-error>
        </mat-form-field>

        <mat-card-actions>
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!marcarFaltaForm.valid"
          >
            Adicionar
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
