.container {
  display: flex;
  flex: 1;
  align-items: center;
}

mat-card-header {
  width: 100%;
  padding-bottom: 16px;
}

mat-form-field {
  width: 100%;

  &:first-child {
    margin-bottom: 0.5em;
  }
}

mat-card {
  width: 100%;
  margin-inline: auto;
  height: 100%;
  justify-content: center;
}

mat-card-content {
  width: 100%;
  padding-bottom: 0;
}

mat-card-actions {
  justify-content: center;
}

mat-card-footer {
  padding: 0.5rem;
  margin-inline: auto;
}

@media only screen and (min-width: 768px) {
  mat-card {
    max-width: 45em;
    height: auto;
  }
}
