<div style="margin: 2em; display: flex; justify-content: center">
  <a mat-raised-button color="primary" routerLink="criar">Adicionar venda</a>
</div>

<div style="width: 100%; max-width: 100dvw; overflow-x: auto">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    matSort
    matSortActive="id"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let venda">{{ venda.id }}</td>
    </ng-container>

    <ng-container matColumnDef="data_venda">
      <th mat-header-cell *matHeaderCellDef>Data da venda</th>
      <td mat-cell *matCellDef="let venda">
        {{ venda.data_venda.replace("T", " ").replace("Z", "").split(".")[0] }}
      </td>
    </ng-container>

    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef>Cliente</th>
      <td mat-cell *matCellDef="let venda">
        {{ venda.cliente.nome }}
      </td>
    </ng-container>

    <ng-container matColumnDef="produtos">
      <th mat-header-cell *matHeaderCellDef>Produtos vendidos</th>
      <td mat-cell *matCellDef="let venda">
        <span>
          <ng-container *ngFor="let produto of venda.produtos; let last = last">
            {{
              !last
                ? produto.nome + " (" + produto.quantidade + ")" + ","
                : produto.nome + " (" + produto.quantidade + ")"
            }}
          </ng-container>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef>Preço</th>
      <td mat-cell *matCellDef="let venda">{{ venda.preco }}€</td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="text-align: center !important"
      >
        Ações
      </th>
      <td mat-cell *matCellDef="let venda">
        <div style="display: flex; width: 100%; justify-content: space-evenly">
          <a [routerLink]="'editar/' + venda.id"
            ><button mat-flat-button color="accent">Editar</button></a
          >
          <!-- <button
            mat-flat-button
            color="warn"
            (click)="openConfirmationDialog()"
          >
            Remover
          </button> -->
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="logClickedRow(row)"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>

  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>
<mat-paginator
  #paginator
  [length]="totalData"
  [pageSizeOptions]="pageSizes"
  showFirstLastButtons
></mat-paginator>
