<div class="container">
  <section style="display: flex" class="center">
    <mat-card appearance="outlined">
      <mat-card-header class="center">
        <mat-card-title>Pedido de alteração de password</mat-card-title>
      </mat-card-header>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="form center">
        <mat-card-content>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!resetForm.valid"
          >
            Enviar
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </section>
</div>
