<div class="container">
  <mat-card appearance="outlined">
    <mat-card-header class="center">
      <mat-card-title>Adicionar cliente</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="criarClienteForm"
        (ngSubmit)="onSubmit()"
        class="form center"
      >
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome" />
          <mat-icon matSuffix>person</mat-icon>
          <mat-error
            *ngIf="
              criarClienteForm.get('nome')?.errors &&
              criarClienteForm.get('nome')?.getError('required')
            "
          >
            Preencha o nome do cliente
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error
            *ngIf="
              criarClienteForm.get('email')?.errors &&
              criarClienteForm.get('email')?.getError('required')
            "
          >
            Preencha o email do cliente
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input matInput type="tel" formControlName="telefone" />
          <mat-icon matSuffix>call</mat-icon>
          <mat-error
            *ngIf="
              criarClienteForm.get('telefone')?.errors &&
              criarClienteForm.get('telefone')?.getError('required')
            "
          >
            Preencha o telefone do cliente
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>NIF</mat-label>
          <input matInput type="text" formControlName="nif" />
          <mat-icon matSuffix>123</mat-icon>
          <mat-error
            *ngIf="
              criarClienteForm.get('nif')?.errors &&
              criarClienteForm.get('nif')?.getError('required')
            "
          >
            Preencha o nif do cliente
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Código Postal</mat-label>
          <input matInput type="text" formControlName="cod_postal" />
          <mat-icon matSuffix>123</mat-icon>
          <mat-error
            *ngIf="
              criarClienteForm.get('cod_postal')?.errors &&
              criarClienteForm.get('cod_postal')?.getError('required')
            "
          >
            Preencha o código postal do cliente
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Morada</mat-label>
          <input matInput type="text" formControlName="morada" />
          <mat-icon matSuffix>location_on</mat-icon>
          <mat-error
            *ngIf="
              criarClienteForm.get('morada')?.errors &&
              criarClienteForm.get('morada')?.getError('required')
            "
          >
            Preencha o morada do cliente
          </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!criarClienteForm.valid"
          >
            Adicionar
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
