.form {
  .input-group {
    display: flex;
    width: 100%;
    margin-bottom: 0.5em;
    gap: 1em;
    flex-wrap: wrap;
  }
}

.container {
  display: flex;
  flex: 1;
  align-items: center;
}

mat-card {
  width: 100%;
  margin-inline: auto;
  height: 100%;
  justify-content: center;
}

mat-card-content {
  width: 100%;
  height: 100%;
}

mat-form-field {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .form {
    padding: 1em;
  }

  .input-group {
    flex-wrap: nowrap;

    mat-form-field {
      flex: 1;
    }

    mat-form-field:first-child {
      flex: 2;
    }
  }

  mat-card {
    max-width: 45em;
    height: auto;
  }
}
