<div class="container">
  <mat-card appearance="outlined">
    <mat-card-header class="center">
      <mat-card-title>Criar conta</mat-card-title>
    </mat-card-header>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form center">
      <mat-card-content>
        <div class="input-group">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput type="text" formControlName="nome" />
            <mat-icon matSuffix>person</mat-icon>
            <mat-error
              *ngIf="
                signupForm.get('nome')?.errors &&
                signupForm.get('nome')?.hasError('required')
              "
              >Introduza um nome</mat-error
            >
            <mat-error
              *ngIf="
                signupForm.get('nome')?.errors &&
                signupForm.get('nome')?.hasError('maxlength')
              "
              >Nome inválido (Máximo de 45 caracteres)</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>NIF</mat-label>
            <input matInput type="text" formControlName="nif" />
            <mat-icon matSuffix>123</mat-icon>
            <mat-error
              *ngIf="
                signupForm.get('nif')?.errors &&
                signupForm.get('nif')?.hasError('required')
              "
              >Introduza um NIF</mat-error
            >
            <mat-error
              *ngIf="
                signupForm.get('nif')?.errors &&
                signupForm.get('nif')?.hasError('pattern')
              "
              >NIF inválido</mat-error
            >
          </mat-form-field>
        </div>
        <div class="input-group">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
            <mat-icon matSuffix>email</mat-icon>
            <mat-error
              *ngIf="
                signupForm.get('email')?.errors &&
                signupForm.get('email')?.hasError('required')
              "
              >Introduza um email</mat-error
            >
            <mat-error
              *ngIf="
                signupForm.get('email')?.errors &&
                signupForm.get('email')?.hasError('email')
              "
              >Email é inválido</mat-error
            >
          </mat-form-field>
        </div>
        <div class="input-group">
          <mat-form-field appearance="outline">
            <mat-label>Morada</mat-label>
            <input matInput type="text" formControlName="morada" />
            <mat-icon matSuffix>person</mat-icon>
            <mat-error
              *ngIf="
                signupForm.get('morada')?.errors &&
                signupForm.get('morada')?.hasError('required')
              "
              >Introduza uma morada</mat-error
            >
            <mat-error
              *ngIf="
                signupForm.get('morada')?.errors &&
                signupForm.get('morada')?.hasError('maxlength')
              "
              >Morada inválida (Máximo de 45 caracteres)</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Código Postal</mat-label>
            <input matInput type="text" formControlName="cod_postal" />
            <mat-icon matSuffix>123</mat-icon>
            <mat-error
              *ngIf="
                signupForm.get('cod_postal')?.errors &&
                signupForm.get('cod_postal')?.hasError('required')
              "
              >Introduza um código postal</mat-error
            >
            <mat-error
              *ngIf="
                signupForm.get('cod_postal')?.errors &&
                signupForm.get('cod_postal')?.hasError('pattern')
              "
              >Código postal inválido</mat-error
            >
          </mat-form-field>
        </div>
        <div class="input-group">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              formControlName="password"
              minlength="6"
            />
            <mat-icon
              matSuffix
              matTooltip="min. 6 caracteres, 1 letra minúscula, 1 letra maiúscula, 1 número e 1 caracter especial"
              >info</mat-icon
            >
            <mat-error
              *ngIf="
                signupForm.get('password')?.errors &&
                signupForm.get('password')?.hasError('required')
              "
              >Introduza uma password</mat-error
            >
            <mat-error
              *ngIf="
                signupForm.get('password')?.errors &&
                signupForm.get('password')?.hasError('pattern')
              "
              >Não cumpre os requisitos mínimos (icone do lado
              direito)</mat-error
            >
          </mat-form-field>
        </div>
        <div class="input-group">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="confirmPassword"
              pattern="{{ signupForm.value.password }}"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword"
            >
              <mat-icon>{{
                hidePassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                signupForm.get('confirmPassword')?.errors &&
                signupForm.get('confirmPassword')?.hasError('required')
              "
              >Confirme a password</mat-error
            >
            <mat-error
              *ngIf="
                signupForm.get('confirmPassword')?.errors &&
                signupForm.get('confirmPassword')?.hasError('pattern')
              "
              >As password não são iguais</mat-error
            >
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!signupForm.valid"
        >
          Sign up
        </button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-card-subtitle>
          <span>Já tem conta? <a routerLink="/login">Entre</a></span>
        </mat-card-subtitle>
      </mat-card-footer>
    </form>
  </mat-card>
</div>
