<div mat-dialog-content>
  <h3>{{ data.message }}</h3>
</div>
<div mat-dialog-actions style="display: flex; justify-content: center">
  <button mat-button (click)="onNoClick()">Não</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Sim</button>
</div>
