.container {
  display: flex;
  align-items: center;
  height: calc(100% - 64px);
}

mat-card-header {
  width: 100%;
  padding-bottom: 16px;
}

mat-form-field {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

mat-card {
  width: 100%;
  margin-inline: auto;
  height: 100%;
  justify-content: center;
}

mat-card-content {
  width: 100%;
  padding-bottom: 0;
  padding-inline: 3em;
}

mat-card-actions {
  justify-content: center;
}

mat-card-footer {
  padding: 0.5rem;
  margin-inline: auto;
}

mat-card-actions {
  width: 100%;
  justify-content: space-evenly;
}

@media only screen and (min-width: 768px) {
  mat-card {
    max-width: 45em;
    height: fit-content;
  }
}
