<div class="container">
  <mat-card appearance="outlined">
    <mat-card-header class="center">
      <mat-card-title>Criar venda</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="criarVendaForm" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field appearance="outline">
          <mat-label>Data da venda</mat-label>
          <mtx-datetimepicker
            #datetimePicker
            [type]="type"
            [mode]="mode"
            [multiYearSelector]="multiYearSelector"
            [startView]="startView"
            [twelvehour]="twelvehour"
            [timeInterval]="timeInterval"
            [touchUi]="touchUi"
            [timeInput]="timeInput"
          ></mtx-datetimepicker>
          <input
            [mtxDatetimepicker]="datetimePicker"
            formControlName="data_venda"
            matInput
            required
          />
          <mtx-datetimepicker-toggle
            [for]="datetimePicker"
            matSuffix
          ></mtx-datetimepicker-toggle>
          <mat-error
            *ngIf="
              criarVendaForm.get('data_venda')?.errors &&
              criarVendaForm.get('data_venda')?.getError('required')
            "
          >
            Preencha a data da venda
          </mat-error>
        </mat-form-field>
        <div formArrayName="produtos" style="width: 100%; margin-bottom: 1.5em">
          <mat-card-title>Produtos</mat-card-title>
          <div *ngFor="let _produto of produtos.controls; let i = index">
            <ng-container [formGroupName]="i">
              <div class="input-group">
                <mat-form-field appearance="outline">
                  <mat-select
                    formControlName="produto"
                    (valueChange)="calcularPreco()"
                  >
                    <mat-option
                      *ngFor="
                        let prod of produtosDisponiveis;
                        let first = first
                      "
                      [value]="{ id: prod.id, preco: prod.preco }"
                    >
                      {{ prod.nome }}
                    </mat-option>
                  </mat-select>
                  <!-- <input matInput type="text" formControlName="id" /> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    type="number"
                    formControlName="quantidade"
                    min="1"
                  />
                </mat-form-field>
              </div>
            </ng-container>
            <!-- The repeated produto template -->
          </div>
          <button
            type="button"
            mat-flat-button
            color="accent"
            (click)="addProduto()"
          >
            Adicionar produto
          </button>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Cliente</mat-label
          ><mat-select formControlName="cliente">
            <mat-option
              *ngFor="let cliente of clientes; let first = first"
              [value]="cliente.id"
            >
              {{ cliente.nome }}
            </mat-option>
          </mat-select>
          <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          style="width: 30%; justify-self: start"
        >
          <mat-label>Preço</mat-label>
          <input currencyMask matInput type="text" formControlName="preco" />
          <mat-icon matSuffix>payments</mat-icon>
          <mat-error
            *ngIf="
              criarVendaForm.get('preco')?.errors &&
              criarVendaForm.get('preco')?.getError('required')
            "
          >
            Preencha o preço do venda
          </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!criarVendaForm.valid"
          >
            Criar
          </button>
          <a routerLink=".." mat-flat-button color="warn">Cancelar</a>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
