mat-card-header {
  width: 100%;
  padding-bottom: 16px;
}

mat-form-field {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

mat-card {
  width: 100%;
  margin-inline: auto;
  height: 100%;
  justify-content: center;
}

mat-card-content {
  width: 100%;
  padding-bottom: 0;
  padding-inline: 3em;
}

mat-card-actions {
  justify-content: center;
}

mat-card-footer {
  padding: 0.5rem;
  margin-inline: auto;
}

mat-card-actions {
  width: 100%;
  justify-content: space-evenly;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: calc(100% - 64px);
}

.form {
  .input-group {
    display: flex;
    width: 100%;
    gap: 1em;
    flex-wrap: wrap;

    mat-form-field {
      margin-bottom: auto;
    }
  }
}

@media only screen and (min-width: 768px) {
  mat-card {
    max-width: 45em;
    height: fit-content;
  }

  .input-group {
    flex-wrap: nowrap;

    mat-form-field {
      flex: 1;
    }

    mat-form-field:first-child {
      flex: 2;
    }
  }
}
