<div style="margin: 2em; display: flex; justify-content: center">
  <a mat-raised-button color="primary" routerLink="criar">Adicionar cliente</a>
</div>

<div style="width: 100%; max-width: 100dvw; overflow-x: auto">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    matSort
    matSortActive="id"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.id }}</td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.email }}</td>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef>Telefone</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.telefone }}</td>
    </ng-container>

    <ng-container matColumnDef="nif">
      <th mat-header-cell *matHeaderCellDef>NIF</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.nif }}</td>
    </ng-container>

    <ng-container matColumnDef="cod_postal">
      <th mat-header-cell *matHeaderCellDef>Cód. Postal</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.cod_postal }}</td>
    </ng-container>

    <ng-container matColumnDef="morada">
      <th mat-header-cell *matHeaderCellDef>Morada</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.morada }}</td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let cliente">
        <div style="display: flex; width: 100%; justify-content: space-evenly">
          <a [routerLink]="'editar/' + cliente.id"
            ><button mat-flat-button color="accent">Editar</button></a
          >
          <button
            mat-flat-button
            color="warn"
            (click)="openConfirmationDialog()"
          >
            Remover
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="logClickedRow(row)"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>

  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>
<mat-paginator
  #paginator
  [length]="totalData"
  [pageSizeOptions]="pageSizes"
  showFirstLastButtons
></mat-paginator>
