<div class="container">
  <mat-card appearance="outlined">
    <mat-card-header class="center">
      <mat-card-title>Adicionar produto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="criarProdutoForm"
        (ngSubmit)="onSubmit()"
        class="form center"
      >
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome" />
          <mat-icon matSuffix>person</mat-icon>
          <mat-error
            *ngIf="
              criarProdutoForm.get('nome')?.errors &&
              criarProdutoForm.get('nome')?.getError('required')
            "
          >
            Preencha o nome do produto
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Preço</mat-label>
          <input matInput currencyMask type="text" formControlName="preco" />
          <mat-icon matSuffix>123</mat-icon>
          <mat-error
            *ngIf="
              criarProdutoForm.get('preco')?.errors &&
              criarProdutoForm.get('preco')?.getError('required')
            "
          >
            Preencha o preço do produto
          </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!criarProdutoForm.valid"
          >
            Adicionar
          </button>
          <a routerLink=".." mat-flat-button color="warn">Cancelar</a>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
